{{ template "header" .}}
{{ template "admin_header" .}}

<h3 class="text-sm text-gray-600 dark:text-gray-400 italic mb-4">
    {{ .locale.Tr "admin.site_routes.help" }}
</h3>

<form action="{{ $.c.ExternalUrl }}/admin-panel/site-routes" method="POST">
    <div class="flex flex-wrap gap-4">
        <div class="flex-1 min-w-[10rem]">
            <label for="host" class="block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1">{{ .locale.Tr "admin.site_routes.host" }}</label>
            <input type="text" id="host" name="host" placeholder="example.com" class="dark:bg-gray-800 appearance-none block w-full px-3 py-2 border border-gray-200 dark:border-gray-700 rounded-md shadow-sm placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        </div>
        <div class="flex-1 min-w-[8rem]">
            <label for="pathPrefix" class="block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1">{{ .locale.Tr "admin.site_routes.path_prefix" }}</label>
            <input type="text" id="pathPrefix" name="pathPrefix" placeholder="/faq" class="dark:bg-gray-800 appearance-none block w-full px-3 py-2 border border-gray-200 dark:border-gray-700 rounded-md shadow-sm placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        </div>
        <div class="flex-1 min-w-[8rem]">
            <label for="user" class="block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1">{{ .locale.Tr "admin.site_routes.user" }}</label>
            <input type="text" id="user" name="user" class="dark:bg-gray-800 appearance-none block w-full px-3 py-2 border border-gray-200 dark:border-gray-700 rounded-md shadow-sm placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        </div>
        <div class="flex-1 min-w-[8rem]">
            <label for="slug" class="block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1">{{ .locale.Tr "admin.site_routes.gist" }}</label>
            <input type="text" id="slug" name="slug" class="dark:bg-gray-800 appearance-none block w-full px-3 py-2 border border-gray-200 dark:border-gray-700 rounded-md shadow-sm placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        </div>
        <div class="flex-1 min-w-[8rem]">
            <label for="revision" class="block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1">{{ .locale.Tr "admin.site_routes.revision" }}</label>
            <input type="text" id="revision" name="revision" placeholder="HEAD" class="dark:bg-gray-800 appearance-none block w-full px-3 py-2 border border-gray-200 dark:border-gray-700 rounded-md shadow-sm placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:ring-primary-500 focus:border-primary-500 sm:text-sm">
        </div>
    </div>
    <div class="mt-4 flex items-center gap-4">
        <label class="inline-flex items-center text-sm text-slate-700 dark:text-slate-300">
            <input type="checkbox" name="enabled" value="true" checked class="mr-2 rounded border-gray-300 dark:border-gray-700 text-primary-500 focus:ring-primary-500">
            {{ .locale.Tr "admin.site_routes.enabled" }}
        </label>
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent border-gray-200 dark:border-gray-700 text-sm font-medium rounded-md shadow-sm text-white dark:text-white bg-primary-500 hover:bg-primary-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">{{ .locale.Tr "admin.site_routes.create" }}</button>
    </div>
    {{ .csrfHtml }}
</form>
<hr class="my-4" />
<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8 bg-gray-50 dark:bg-gray-800 rounded-md border border-gray-200 dark:border-gray-700">
    <table class="min-w-full divide-y divide-slate-300 dark:divide-gray-500">
        <thead>
            <tr>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-slate-700 dark:text-slate-300">{{ .locale.Tr "admin.site_routes.host" }}</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-slate-700 dark:text-slate-300">{{ .locale.Tr "admin.site_routes.path_prefix" }}</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-slate-700 dark:text-slate-300">{{ .locale.Tr "admin.site_routes.gist" }}</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-slate-700 dark:text-slate-300">{{ .locale.Tr "admin.site_routes.revision" }}</th>
                <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-slate-700 dark:text-slate-300">{{ .locale.Tr "admin.site_routes.enabled" }}</th>
                <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-0">
                    <span class="sr-only">{{ .locale.Tr "admin.delete" }}</span>
                </th>
            </tr>
        </thead>
        <tbody class="divide-y divide-slate-300 dark:divide-gray-500">
        {{ range $route := .siteRoutes }}
            <tr class="text-slate-700 dark:text-slate-100">
                <td class="whitespace-nowrap py-2 px-2 text-sm">{{ $route.Host }}</td>
                <td class="whitespace-nowrap py-2 px-2 text-sm">{{ if $route.PathPrefix }}{{ $route.PathPrefix }}{{ else }}<span class="italic text-gray-500">/</span>{{ end }}</td>
                <td class="whitespace-nowrap py-2 px-2 text-sm">
                    {{ if $route.Gist.ID }}
                    <a class="text-primary-500 hover:underline" href="{{ $.c.ExternalUrl }}/{{ $route.Gist.User.Username }}/{{ $route.Gist.Identifier }}">{{ $route.Gist.User.Username }}/{{ $route.Gist.Identifier }}</a>
                    {{ else }}
                    <span class="italic text-rose-500">{{ $.locale.Tr "admin.site_routes.gist_missing" }}</span>
                    {{ end }}
                </td>
                <td class="whitespace-nowrap py-2 px-2 text-sm">{{ if $route.Revision }}<code>{{ $route.Revision }}</code>{{ else }}<span class="italic text-gray-500">HEAD</span>{{ end }}</td>
                <td class="whitespace-nowrap py-2 px-2 text-sm">
                    {{ if $route.Enabled }}
                    <span class="text-emerald-500">{{ $.locale.Tr "admin.site_routes.yes" }}</span>
                    {{ else }}
                    <span class="text-gray-400 italic">{{ $.locale.Tr "admin.site_routes.no" }}</span>
                    {{ end }}
                </td>
                <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <form action="{{ $.c.ExternalUrl }}/admin-panel/site-routes/{{ $route.ID }}/delete" method="POST">
                        {{ $.csrfHtml }}
                        <button type="submit" onclick="return confirm('{{ $.locale.Tr "admin.site_routes.delete_confirm" }}')" class="text-rose-500 hover:text-rose-600">{{ $.locale.Tr "admin.delete" }}</button>
                    </form>
                </td>
            </tr>
        {{ end }}
        </tbody>
    </table>
</div>

{{ template "admin_footer" .}}
{{ template "footer" .}}
